extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Tourism was created to help people find places to Explore new things.
        | 
        | <br /><br />
        |  The website is built using the MEAN stack, which stands for MongoDB, Express.js, AngularJS, and Node.js. The website is designed to be responsive and works on all devices.