extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Tourism
          small &nbsp;Finds the places to explore new things!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Charminar
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            
          p.address Charminar Rd,char kaman,Ghansi Bazaar,Hyderabad
          img(src='./images/HD-wallpaper-charminar-public.jpg',width=150,height=150)
          p
            span.label.label-warning Irani Chai
            | &nbsp;
            span.label.label-warning Laad Bazaar
            | &nbsp;
            span.label.label-warning Shadab Hotel
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location1') Golkonda Fort
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
           
          p.address  Khair Complex, Ibrahim Bagh, Hyderabad 
          img(src='./images/golkonda.jpg',width=150,height=150)
            span.label.label-warning  Eight Gateways
            | &nbsp;
            span.label.label-warning  Majestic Halls
            | &nbsp;
            span.label.label-warning  Mounted Cannons
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Birla Mandir
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            
          p.address  Naubat Pahad, Ambedkar Colony, Khairtabad, Hyderabad, Telangana 500063
          img(src='./images/Birla_Mandir,_Hyderabad.png',width=150,height=150)
          p            
            span.label.label-warning  It has some of the finest collections of the Nizam's treasures, including paintings, statues, furniture, manuscripts and books
            | &nbsp;
      p.lead
        | Looking for Historic Places in Hyderabad? Tourism helps you find places which you can visit and explore the History.Let Tourism help you find the place you're looking for.